<footer class="background-midnight-blue color-white">

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <p>© 2016 <a href="https://twitter.com/moo9000">Mikko Ohtamaa</a></p>
            </div>

            <div class="col-md-4">
              <!-- -->
            </div>

            <div class="col-md-4">
                Follow Websauna:
                <ul class="social-links">
                  <!--
                  <li class="footer-icon"><a href="/feeds/all.atom.xml"><i class="fa fa-rss"></i></a></li>
                  -->

                  <li class="footer-icon"><a href="https://github.com/websauna/websauna"><i class="fa fa-github"></i></a></li>

                  <li class="footer-icon"><a href="https://twitter.com/Websauna9000"><i class="fa fa-twitter"></i></a></li>

                  <li class="footer-icon"><a href="https://www.facebook.com/Open-Source-Hacker-181710458567630/"><i class="fa fa-facebook"></i></a></li>

                </ul>
            </div>

        </div>

    </div>

</footer>