{% extends "base.html" %}

{% block metadata %}
    <title>Websauna - Features</title>
{% endblock %}

{% block sections %}
<section class="section">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h1>Features</h1>

          <p class="lead">
            Websauna provides secure, high level building blocks, without taking the driving seat from a developer. By having the basic needs and infrastructure of web applications catered you can focus on the business logic of your web application.
          </p>
        </div>
      </div>

        <div class="row">

          <div class="col-md-6">
            <a class="info-thumbnail-link" href="https://websauna.org/docs/narrative/crud/admin.html">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <img class="img-feature" src="{{ SITEURL }}/theme/images/admin.gif">
              <div class="special background-peter-river color-white"><h3>Admin</h3></div>
              <div class="caption bordered background-white">
                <p class="description" style="height: 154px;">
                  Admin, administration interface, provides drop in back office for your operations. You can easily browse, add and edit data without need to write explicit form code. SQLAlchemy data models are automatically turned to an admin site.
                </p>
              </div>
            </div>
            </a>
          </div>

          <div class="col-md-6">
            <a class="info-thumbnail-link" href="https://websauna.org/docs/">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <img class="img-feature" src="{{ SITEURL }}/theme/images/docs.png">
              <div class="special background-peter-river color-white"><h3>Documentation</h3></div>
              <div class="caption bordered background-white">
                <p class="description" style="height: 154px;">
                  Detailed tutorials and deployment instructions help developers to get their first application out fast. Comprehensive API documentation, template and configuration reference makes sure no corner goes undocumented.
                </p>
              </div>
            </div>
            </a>
          </div>
        </div>

      <div class="row">

        <div class="col-md-6">
            <a class="info-thumbnail-link" href="https://websauna.org/docs/narrative/frontend/themes.html">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <img class="img-feature" src="{{ SITEURL }}/theme/images/branding.png">
              <div class="special background-peter-river color-white"><h3>Branding</h3></div>
              <div class="caption bordered background-white">
                <p class="description" style="height: 154px;">
                  Websauna comes with basic branding elements ready to go. Default templates use Bootstrap CSS framework that allows to choose from beautiful theming options even if the team lacks design skill. Email subsystem comes with well tested HTML templates to ensure brand integrity in messaging.
                </p>
              </div>
            </div>
            </a>
        </div>

        <div class="col-md-6">
            <a class="info-thumbnail-link" href="http://websauna.org/docs/narrative/misc/typing.html">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <img class="img-feature" src="{{ SITEURL }}/theme/images/notebook.gif">
              <div class="special background-peter-river color-white"><h3>Jupyter Notebook</h3></div>
              <div class="caption bordered background-white">
                <p class="description" style="height: 154px;">
                  Jupyter Notebook, an award winning data analysis and science tool, is directly integrated to Websauna. Analyzing website data and building interactive visualizations is within a reach of one click. Furthermore web based Python shell provides alternative for a terminal for interactive Python development.
                </p>
              </div>
            </div>
            </a>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
            <a class="info-thumbnail-link" href="http://websauna.org/docs/narrative/misc/typing.html">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <img class="img-feature" src="{{ SITEURL }}/theme/images/ansible.gif">
              <div class="special background-peter-river color-white"><h3>One click deployment</h3></div>
              <div class="caption bordered background-white">
                <p class="description" style="height: 154px;">
                  APIs use Python 3.5 type hinting systems. This allows IDEs and code editors auto complete and lint your Python code while you type. Statistical analysis tools can be run to check for errors.
                </p>
              </div>
            </div>
            </a>
        </div>

        <div class="col-md-6">
            <a class="info-thumbnail-link" href="http://websauna.org/docs/narrative/misc/typing.html">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <img class="img-feature" src="{{ SITEURL }}/theme/images/typing.gif">
              <div class="special background-peter-river color-white"><h3>Optional typing</h3></div>
              <div class="caption bordered background-white">
                <p class="description" style="height: 154px;">
                  APIs use Python 3.5 type hinting systems. This allows IDEs and code editors auto complete and lint your Python code while you type. Statistical analysis tools can be run to check for errors.
                </p>
              </div>
            </div>
            </a>
        </div>

      </div>
    </div>
</section>
{% endblock %}