{% extends "base.html" %}

{% block metadata %}
    <title>Websauna - A full stack Python web framework</title>
    <meta name="description" content="Build web business applications fast and easy">
{% endblock %}

{% block sections %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

              <h1 class="text-center">Websauna</h1>

              <p class="text-center">
                <img class="img-header img-responsive" alt="Websauna" src="{{ SITEURL }}/theme/images/logo-768.png">
              </p>

              <p class="lead text-center">
                A full stack Python framework for building consumer and business web applications
              </p>

              <div class="text-center">
              <p><cite>
                We have web applications 80% figured out. Websauna takes it up to 95%.</cite>
              </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section background-belize-hole color-white">
    <div class="container">

        <div class="row">

            <div class="col-md-3">
              <h3><i class="fa fa-heart"></i> Learn</h3>
              A low learning curve and friendly comprehensive documentation help novice developers to get their first application out quickly.
            </div>

            <div class="col-md-3">
              <h3><i class="fa fa-paper-plane"></i> Create</h3>
              You can focus on core business logic as Websauna provides basic website building blocks like sign up and sign in.
            </div>

            <div class="col-md-3">
              <h3><i class="fa fa-flash"></i> Deliver</h3>
              The emphasis is on meeting business requirements with reliable delivery times, responsiveness, consistency in quality, security and high data integrity.
            </div>

            <div class="col-md-3">
              <h3><i class="fa fa-dashboard"></i> Operate</h3>
              Site operations is half the story. Websauna provides an automated deployment process and integrates with monitoring, security and other DevOps solutions.
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Websauna builds upon mature open source components</p>
        </div>
      </div>

        <div class="row">
            <div class="col-md-4">
                <p class="text-center" style="height: 100px">
                    <img class="img-responsive" style="max-height: 60px; margin: 0 auto;" src="{{ SITEURL }}/theme/images/python.png">
                </p>

                <p class="text-center">
                  <a href="https://python.org" target="_blank">Python</a> programming language is powerful, plays well with others and runs everywhere. Python is open source and managed by non-profit Python Foundation.

                </p>
            </div>

            <div class="col-md-4">
                <p class="text-center" style="height: 100px">
                    <img class="img-responsive" style="max-height: 60px; margin: 0 auto;"  src="{{ SITEURL }}/theme/images/pyramid.png">
                </p>


                <p class="text-center">
                    <a href="https://trypyramid.com" target="_blank">Pyramid</a> is a very general open source web framework. As a framework, its primary job is to make it easier for a developer to create an arbitrary web application.
                </p>
            </div>

            <div class="col-md-4">
                <p class="text-center" style="height: 100px">
                    <img class="img-responsive" style="max-width: 170px; max-height: 60px; margin: 0 auto;"  src="{{ SITEURL }}/theme/images/sqlalchemy.png">
                </p>

                <p  class="text-center">
                     <a href="http://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a> provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.
                </p>
            </div>
        </div>

    </div>
</section>

{% endblock %}